.cryptos-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.currency-grid-card{
    display: flex;
    flex-direction: column;
width: 300px;
    background-color: var(--bgSecondary);
    color: var(--text-primary);
    opacity: 0.9;
    padding: 10px;
    transition: ease-in-out;
    gap: 20px;
}
 .currency-grid-desc{
    display: flex;
    justify-content: space-between;
}
.currency-grid-market{
    display: flex;
    justify-content: space-between;
}
.currency-grid-desc .currency-grid-name{
    display: flex;
    gap: 10px;
}
.currency-grid-card:hover{
color: var(--pink);
    border-radius: 2px;
    transition:0.2s ease-in-out;
    transform: scale(1.1);

}
.currency-grid-image{
    width: 40px;
    height: 40px;
}
.currency-grid-name{
    font-size: 1rem;
    font-weight: 800;
}
@media screen and (max-width:600px){
    .currency-grid-card{
        width: 400px;
    }
}