 .nav-container{
     position: fixed;
     left: 0;
     margin: 10px;
     height: 100vh;
     margin: 0px;
     width: 256px;
     border-right: 1px solid var(--border);
     border-bottom: 1px solid var(--border);
 }
 .logo-container{
     margin-bottom: 20px;
 }
 .logo{
     padding: 10px 0px 10px 20px;
     color: var(--pink) !important;
 }
 h3.ant-typography, .ant-typography h3{
     font-weight: 800 !important;
 }
 .menu-control-container{
     display: none !important;
     position: absolute !important;
    right: 10px !important;
    top: 15px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

@media screen and (max-width:800px){
    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }
    .logo{
        margin: 0px;
    }
    .menu-control-container{
     display: block !important;
    }
    .ant-menu{
        position: absolute;
        right: 0px;
    }
    
}