.currency-card{
    position: relative;
 
}
.ant-collapse-borderless > .ant-collapse-item{
    border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding: 0px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    position:absolute;
    right: 20px;
    top: 30px;
}
.cryptos-container{
    padding: 10px 20px;
}
.table-heading{
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: 900;
    font-size: 1rem;
    color: var(--pink);
    padding: 20px 10px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}
.currency-card{
    color:var(--text-primary) ;
    padding: 20px 10px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    border-top: 1px solid var(--border);
    opacity: 0.9;
    transition: ease-in-out;
}
.currency-rank{
    font-weight: 900;
}

.currency-name-container{
    display: flex;
    gap: 10px;
}
.currency-image{
    width: 40px;
    height: 40px;
}
.currency-market{
display: none;
}
.currency-card:hover{
    transition:0.2s ease-in-out;
    background-color: var(--light-blue);


}
.currency-container{
    display: flex;
    flex-direction: column;
    gap: 1px;

}
.currency-container p{
    margin-bottom: 0px;
}@media screen and (max-width:800px){
   .exchanges-container{
    margin-top: 50px;
   }
}
@media screen and (max-width:500px){
    .currency-card{
        font-size: 0.8rem;
       grid-template-columns: repeat(3, 1fr);
       gap: 20px;

    }
    .table-heading{
       grid-template-columns: repeat(3, 1fr);

    }
    .currency-market{
        display: block;
    }
    .currency-market-cap{
        display: none;
    }
    .market-cap-title{
        display: none;
    }
}