
.news-header {
    text-align: center;
margin-bottom: 10px;
margin-bottom: 30px

}

.news-card{
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--text-primary);
    width: 100%;
}
.ant-space-item{
    width: 100%;
}
.news-card-body{
    padding: 0px !important;
}

    @media screen and (max-width: 450px){
        .news-card{
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
      
    }