
:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    color: var(--pink) !important;
}

.app{
    display: flex;
    overflow: hidden;

}
.navbar{
flex: 0.2;
}
.main{
    flex: 0.8;
    width: 100%;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: auto;
}
@media screen and (max-width:1300px){
    .main{
        margin-left: 50px;
    }
}
@media screen and (max-width:1170px){
    .main{
        margin-left: 50px;
    }
}
@media screen and (max-width:1000px){
    .main{
        margin-left: 100px;
    }
}
@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }
    .navbar{
        flex: 1;
    }
    .main{
        flex: 1;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 10px;
        padding: 20px;

    }
}